* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-base);
  text-color: var(--text-color-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

main {
  flex: auto;
}

section {
  margin: var(--margin-content);
}

footer {
  margin: var(--margin-content);
}

h1,
h2,
h3,
h4,
h5 {
  line-height: var(--line-height-heading);
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: clamp(1.5rem, 4vw, 1.9rem);
}

ul {
  margin: 1.4em 0;
}

a {
  text-decoration: none;
}
