.footer {
  flex: 0;
}

.footer__ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 0.2rem 1.4rem;
}

.footer__ul__li a {
  position: relative;
  overflow: hidden;
  display: block;
}

.footer__ul.site_nav a.active::before {
  transform: translate(-100%);
}

.footer__ul.site_nav a.active:active::before,
.footer__ul.site_nav a.active:hover::before {
  transform: translate(0);
}
