.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.article__header--meta {
  font-style: italic;
}

.article__header--summary {
  font-weight: bold;
  font-size: var(--font-size-subtitle);
}

.article__content {
  margin: var(--margin-content);
  font-size: var(--font-size-content);
}
