.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.article__header--meta {
  font-style: italic;
}

.article__header--summary {
  font-weight: bold;
  font-size: var(--font-size-subtitle);
}

.article__content {
  margin: var(--margin-content);
  font-size: var(--font-size-content);
}

.prose {
  max-width: var(--prose-width);
  margin: auto;
  padding: 0.5rem 1rem;
}

.project-list {
  display: grid;
  gap: 1em;
}

@media screen and (min-width: 768px) {
  .project-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
