.masthead {
  flex: 0;
  font-size: var(--font-size-masthead);
}

.masthead__brand {
  font-size: var(--font-size-subtitle);
  font-weight: bold;
  display: block;
  padding: 0.4rem 0;
}

.masthead__ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 0.2rem 1.4rem;
}

.masthead__ul__li:first-child {
  display: none;
}

.masthead__ul__li a {
  position: relative;
  overflow: hidden;
  display: block;
}
