.online {
  padding: 0;
  list-style: none;
}

.online li {
  position: relative;
  display: flex;
  align-items: center;
}

.online .text {
  margin-left: 1rem;
}

.online .text .name {
  font-weight: bold;
}

.online .text .description {
  font-size: var(--font-size-small);
}

.online a {
  color: var(--font-color-base);
}

.online a:focus,
.online a:hover {
  color: var(--font-color-active);
}

.online a:before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
