.post-card {
  margin: 0.4rem 0;
  padding: 0.4rem 0;
  position: relative;
}

.post-card a {
  display: contents;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.post-card__header {
  display: grid;
  grid-template-columns: 1fr 33%;
  grid-gap: 1rem;
  align-items: center;
}

.post-card__header:focus,
.post-card__header:hover {
  text-decoration: underline;
}

.post-card__header--title {
  margin: 0;
}

.post-card__header--title:focus,
.post-card__header--title:hover {
  color: var(--font-color-active);
}

.post-card__header--meta {
  margin: 0;
  margin-left: auto;
  font-style: italic;
}
